Repository Kythuen/white-block: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --quiet, prettier

chore(ci): add `pnpm-lock.yaml` to ignore files for autofix
  .prettierignore
Due: none

chore(ci): change removate configs
  .github/renovate.json
Due: none

chore(vitepress): upgrade chokidar to 4.x
  packages/vitepress/scripts/watchAndCopy.js
Due: eslint

chore(vitepress): complement copy files step when build
  .github/workflows/docs.yml
  package.json
  packages/vitepress/package.json
  packages/vitepress/scripts/copy.js
  packages/vitepress/scripts/watchCopy.js
  pnpm-lock.yaml
Due: eslint

chore(dependencies): reorganize dependencies
  .changeset/README.md
  docs/package.json
  package.json
  packages/core/package.json
  packages/vitepress/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(vitepress): fix header logo display
  packages/vitepress/src/theme/components/WBHeader.vue
Due: eslint --quiet

chore(release): release version
  .changeset/pre.json
  .changeset/silly-poets-sniff.md
  packages/core/package.json
  packages/vitepress/package.json
Due: prettier --write

chore(release): release version
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

chore(release): release version
  .changeset/pre.json
  packages/vitepress/package.json
Due: none

chore(release): release version
  .changeset/few-ducks-destroy.md
  .changeset/pre.json
  packages/vitepress/package.json
Due: prettier --write

fix(types): change resolver to only resolve local when both imported & local exists
  docs/.vitepress/config/constant.ts
  docs/.vitepress/theme/styles/index.less
  docs/.vitepress/transforms/data/index.ts
  packages/core/README.md
  packages/types/src/declaration.ts
  packages/types/test/resolver.test.ts
  packages/vitepress/src/theme/components/WBHeader.vue
Due: prettier --write, eslint, eslint --quiet, prettier

feat(vitepress): add more frontmatter config
  docs/.vitepress/config/index.ts
  docs/src/public/vitepress/cont.svg
  docs/src/public/vitepress/logo.svg
  docs/src/vitepress/detail.md
  docs/src/vitepress/index.md
  packages/vitepress/src/theme/Layout.vue
  packages/vitepress/src/theme/components/WBDocument.vue
  packages/vitepress/src/theme/components/WBPage.vue
  packages/vitepress/src/utils/data.ts
  packages/vitepress/src/utils/index.ts
Due: prettier --write, eslint, eslint --quiet

chore(release): release version
  .changeset/pre.json
  .changeset/stale-bottles-fry.md
  packages/vitepress/package.json
Due: prettier --write

chore(release): release version
  packages/vitepress/tsup.config.ts
Due: eslint

chore(release): release version
  packages/vitepress/package.json
  packages/vitepress/tsup.config.ts
Due: eslint

chore(release): release version
  packages/vitepress/package.json
Due: none

chore(release): release version
  packages/vitepress/src/client/index.ts
  packages/vitepress/src/node/index.ts
Due: eslint

chore(release): release version
  pnpm-lock.yaml
Due: none

chore(release): release version
  .changeset/pre.json
  .changeset/stale-bottles-fry.md
  packages/vitepress/package.json
  packages/vitepress/src/client/index.ts
  packages/vitepress/src/node/index.ts
  packages/vitepress/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore(ci): add `.changeset` to ignore files for autofix
  .prettierignore
  eslint.config.js
Due: eslint

chore(vitepress): edit page layout
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/components/DocumentContent.vue
  docs/.vitepress/theme/components/DocumentHeader.vue
  docs/.vitepress/theme/components/EcosystemList.vue
  docs/src/packages.md
  docs/src/public/assets/hero.svg
  docs/src/public/logos/core.svg
  docs/src/public/logos/types.svg
  docs/src/public/logos/vitepress.svg
  docs/src/public/vitepress/preview.png
  docs/src/types/guide.md
  docs/src/types/index.md
  docs/src/vitepress/detail.md
  docs/src/vitepress/guide.md
  docs/src/vitepress/slots.md
  packages/core/src/components/select/select.vue
  packages/core/src/utils/array.ts
  packages/core/src/utils/index.ts
  packages/vitepress/scripts/watchCopy.js
  packages/vitepress/src/client/theme/assets/app.svg
  packages/vitepress/src/client/theme/assets/app2.svg
  packages/vitepress/src/client/theme/assets/app3.svg
  packages/vitepress/src/client/theme/assets/bg.svg
  packages/vitepress/src/client/theme/assets/frame.svg
  packages/vitepress/src/client/theme/assets/frame1.svg
  packages/vitepress/src/client/theme/assets/hero.svg
  packages/vitepress/src/client/theme/assets/preview.png
  packages/vitepress/src/client/theme/assets/preview.svg
  packages/vitepress/src/client/theme/assets/shade.svg
  packages/vitepress/src/client/theme/components/WBDocumentAsideMenu.vue
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBHeaderMenu.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
  packages/vitepress/src/client/theme/styles/index.less
  packages/vitepress/src/client/utils/data.ts
  packages/vitepress/unocss.config.ts
Due: prettier --write, eslint, eslint --quiet, prettier

feat(vitepress): edit page layout
  docs/src/vitepress/index.md
  docs/src/vitepress/slots.md
  packages/vitepress/scripts/watchCopy.js
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
  packages/vitepress/src/node/unocss/index.ts
Due: prettier --write, eslint, eslint --quiet

feat(vitepress): edit page layout
  packages/vitepress/src/client/theme/components/WBPage.vue
Due: eslint --quiet

feat(vitepress): edit page layout
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/components/DocumentHeader.vue
  docs/.vitepress/theme/components/EcosystemList.vue
  docs/.vitepress/theme/styles/overrides.less
  docs/src/packages.md
  docs/src/public/vitepress/slots/header-top.png
  docs/src/public/vitepress/slots/home-top.png
  docs/src/public/vitepress/slots/overview.png
  docs/src/types/index.md
  docs/src/vitepress/guide.md
  docs/src/vitepress/index.md
  docs/src/vitepress/slots.md
  packages/vitepress/package.json
  packages/vitepress/scripts/copy.js
  packages/vitepress/scripts/watch.js
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/WBDocumentHeader.vue
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
  packages/vitepress/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress types
  docs/.vitepress/config/routes/en.ts
  docs/src/public/vitepress/layout_empty.png
  docs/src/public/vitepress/layout_page.png
  docs/src/vitepress/guide.md
  docs/src/vitepress/layout.md
  packages/vitepress/package.json
  packages/vitepress/scripts/copy.ts
  packages/vitepress/scripts/watch.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore(vitepress): remove useless scripts
  packages/vitepress/package.json
Due: none

chore(vitepress): edit vitepress page layout
  .changeset/serious-swans-hug.md
Due: prettier --write

chore(release): release version
  docs/src/vitepress/guide.md
  packages/core/src/components/select/__tests__/__snapshots__/index.test.tsx.snap
Due: prettier --write

feat(vitepress): add cli tool
  docs/src/packages.md
  docs/src/public/assets/font/HarmonyOS_Sans_Regular.ttf
  docs/src/vitepress/cli.md
  docs/src/vitepress/page.md
  eslint.config.js
  packages/vitepress/package.json
  packages/vitepress/scripts/copy.ts
  packages/vitepress/scripts/watch.ts
  packages/vitepress/src/client/theme/assets/font/HarmonyOS_Sans_Regular.ttf
  packages/vitepress/src/client/theme/index.ts
  packages/vitepress/src/client/theme/styles/index.less
  packages/vitepress/src/client/theme/styles/vp.less
  packages/vitepress/src/node/cli/command/init.ts
  packages/vitepress/src/node/cli/constant.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/constant.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/index.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/routes/en.ts
  packages/vitepress/src/node/cli/files/.vitepress/theme/index.ts
  packages/vitepress/src/node/cli/files/src/guide.md
  packages/vitepress/src/node/cli/files/src/index.md
  packages/vitepress/src/node/cli/files/src/public/logo.png
  packages/vitepress/src/node/cli/files/src/public/logo.svg
  packages/vitepress/src/node/cli/files/tsconfig.json
  packages/vitepress/src/node/cli/files/unocss.config.ts
  packages/vitepress/src/node/cli/files/vite.config.ts
  packages/vitepress/src/node/cli/index.ts
  packages/vitepress/src/node/cli/locales/index.ts
  packages/vitepress/src/node/cli/locales/lang/en.ts
  packages/vitepress/src/node/cli/locales/text.ts
  packages/vitepress/src/node/cli/prompts.ts
  packages/vitepress/src/node/cli/utils.ts
  packages/vitepress/src/node/cli/utils/index.ts
  packages/vitepress/tsconfig.json
  packages/vitepress/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, prettier

Path conditions:
  prettier --write: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  eslint --quiet: any of: *.vue
  prettier: any of: *.{less,css,html}
