Repository Kythuen/white-block: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --quiet, prettier

fix(vitepress): change header navigation match strategy
  docs/.vitepress/config/routes/en.ts
  docs/src/guide/started.md
  docs/src/index.md
  packages/vitepress/src/client/theme/components/WBHeaderNav.vue
  packages/vitepress/src/client/theme/components/WBHome.vue
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  packages/vitepress/files/src/index.md
Due: prettier --write

chore(vitepress): add tutorial docs and fixed some problems
  docs/.vitepress/theme/layouts/Layout.vue
  docs/src/packages/vitepress/changelogs/index.md
  docs/src/packages/vitepress/customize.md
  docs/src/public/vitepress/customize/api.png
  docs/src/public/vitepress/customize/base.png
  docs/src/public/vitepress/customize/tabs.png
  docs/uno.config.ts
  packages/core/uno.config.ts
  packages/vitepress/files/.vitepress/config/index.ts
  packages/vitepress/files/src/guide.md
  packages/vitepress/files/src/index.md
  packages/vitepress/files/uno.config.ts
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/NeonButton.vue
  packages/vitepress/src/client/theme/components/WBDocumentHeader.vue
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/client/theme/styles/vp.less
  packages/vitepress/src/client/theme/workers/stars.ts
  packages/vitepress/src/node/cli/command/init.ts
  packages/vitepress/uno.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(release): release version
  packages/vitepress/package.json
Due: none

chore(vitepress): edit vitepress docs
  docs/src/packages/vitepress/customize.md
Due: prettier --write

feat(vitepress): support control level of anchors visible with frontmatter `doc-aside`
  docs/src/packages/vitepress/slots.md
  packages/vitepress/src/client/theme/components/WBDocumentAsideMenu.vue
  packages/vitepress/src/client/utils/dom.ts
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/components/blocks/ChangelogsBlock.vue
  docs/.vitepress/theme/styles/index.less
  docs/src/packages/vitepress/changelogs/2025-02-02-deepseek-r1.md
  docs/src/packages/vitepress/changelogs/2025-02-03-deepseek-r2.md
  docs/src/packages/vitepress/changelogs/2025-02-14-first-version.md
  docs/src/packages/vitepress/changelogs/index.md
  docs/src/packages/vitepress/deploy.md
  packages/vitepress/package.json
  packages/vitepress/src/client/theme/components/WBDocument.vue
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/routes/en.ts
  docs/src/packages/vitepress/api.md
  packages/vitepress/src/client/utils/dom.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore(types): edit packages/types docs
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/pages/packages/Index.vue
  docs/src/packages/types/changelog.md
  docs/src/packages/types/changelogs/2024-12-14-first-version.md
  docs/src/packages/types/changelogs/index.md
  docs/src/packages/types/guide.md
  docs/src/packages/types/index.md
  docs/src/packages/vitepress/changelogs/2025-02-14-first-version.md
  packages/types/README.md
  packages/types/package.json
Due: prettier --write, eslint, eslint --quiet

chore(release): release version
  packages/types/package.json
Due: none

ci(workflows): change docs workflow trigger condition
  .github/workflows/docs.yml
Due: none

chore(docs): change changelogs component
  docs/.vitepress/theme/components/blocks/ChangelogsBlock.vue
  docs/src/packages/types/changelogs/2024-12-14-first-version.md
  docs/src/packages/vitepress/changelogs/2025-02-14-first-version.md
Due: prettier --write, eslint --quiet

chore(release): release version
  docs/src/packages/types/changelogs/2024-12-14-first-version.md
  docs/src/packages/vitepress/changelogs/2025-02-14-first-version.md
Due: prettier --write

chore(release): release version
  .changeset/config.json
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/pages/packages/Index.vue
  docs/src/packages/resolver/changelogs/2024-10-14-first-version.md
  docs/src/packages/resolver/changelogs/index.md
  docs/src/packages/resolver/index.md
  docs/src/types/guide.md
  docs/src/types/index.md
  packages/resolver/README.md
  packages/resolver/package.json
  packages/resolver/src/index.ts
  packages/resolver/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  packages/vitepress/package.json
Due: none

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/components/awesome/BlurCard.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/layout/Index.vue
  docs/.vitepress/theme/layout/docs/DocumentContent.vue
  docs/.vitepress/theme/layout/docs/DocumentFooter.vue
  docs/.vitepress/theme/layout/docs/DocumentHeader.vue
  docs/.vitepress/theme/layout/docs/DocumentMobileDock.vue
  docs/.vitepress/theme/layout/home/Index.vue
  docs/.vitepress/theme/layout/home/KongMing.vue
  docs/.vitepress/theme/layout/home/WBAside.vue
  docs/.vitepress/theme/layout/home/WBFooter.vue
  docs/.vitepress/theme/layout/home/WBHeader.vue
  docs/.vitepress/theme/layout/home/WBHeaderMenu.vue
  docs/.vitepress/theme/layout/home/stars.js
  docs/.vitepress/theme/layout/theme-editor/Color.vue
  docs/.vitepress/theme/layout/theme-editor/Font.vue
  docs/.vitepress/theme/layout/theme-editor/Index.vue
  docs/.vitepress/theme/layout/theme-editor/Preset.vue
  docs/.vitepress/theme/layout/theme-editor/Size.vue
  docs/.vitepress/theme/layouts/Layout.vue
  docs/.vitepress/theme/layouts/docs/DocumentHeader.vue
  docs/.vitepress/theme/styles/index.less
  docs/.vitepress/theme/styles/overrides.less
  docs/src/components/index.md
  docs/src/guide/index.md
  docs/src/guide/size.md
  docs/src/index.md
  packages/core/src/components/radio-group/styles.css
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/WBDocument.vue
  packages/vitepress/src/client/theme/components/WBDocumentAside.vue
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
  packages/vitepress/src/client/utils/dom.ts
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress docs
  docs/.vitepress/theme/layout/docs/DocumentFooter.vue
Due: eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/theme/layout/Index.vue
  docs/.vitepress/theme/layout/docs/DocumentMobileDock.vue
  docs/.vitepress/theme/layout/home/Index.vue
  docs/.vitepress/theme/layout/home/KongMing.vue
  docs/.vitepress/theme/layout/home/WBAside.vue
  docs/.vitepress/theme/layout/home/WBFooter.vue
  docs/.vitepress/theme/layout/home/WBHeader.vue
  docs/.vitepress/theme/layout/home/WBHeaderMenu.vue
  docs/.vitepress/theme/layout/home/stars.js
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBNavPanel.vue
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
Due: eslint, eslint --quiet

chore(playground): add playground for WhiteBlock
  .changeset/config.json
  .github/workflows/docs.yml
  .gitignore
  .prettierignore
  docs/.vitepress/config/routes/en.ts
  docs/src/playground/index.md
  eslint.config.js
  packages/core/src/components/input-number/__tests__/__snapshots__/index.test.tsx.snap
  packages/core/src/components/input-number/input-number.vue
  packages/core/src/components/radio-group/radio-group.vue
  packages/playground/.gitignore
  packages/playground/index.html
  packages/playground/package.json
  packages/playground/public/logo.png
  packages/playground/src/App.vue
  packages/playground/src/Header.vue
  packages/playground/src/assets/css/reset.css
  packages/playground/src/download/index.ts
  packages/playground/src/download/template/README.md
  packages/playground/src/download/template/index.html
  packages/playground/src/download/template/main.ts
  packages/playground/src/download/template/package.json
  packages/playground/src/download/template/vite.config.ts
  packages/playground/src/main.ts
  packages/playground/src/repl/constant.ts
  packages/playground/src/repl/index.ts
  packages/playground/src/states.ts
  packages/playground/src/types.ts
  packages/playground/src/utils/index.ts
  packages/playground/src/vite-env.d.ts
  packages/playground/tsconfig.json
  packages/playground/uno.config.ts
  packages/playground/vite.config.ts
  packages/vitepress/src/client/theme/components/WBNavPanel.vue
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(release): release version
  packages/core/package.json
  packages/playground/package.json
  packages/vitepress/package.json
Due: none

chore(docs): stop get issue data due to github api call rate-limiting
  docs/.vitepress/theme/layout/Index.vue
Due: eslint --quiet

chore(release): release version
  .github/workflows/docs.yml
  package.json
Due: none

chore(playground): change home link
  packages/playground/src/Header.vue
Due: eslint --quiet

chore(playground): change home link
  package.json
  pnpm-lock.yaml
Due: none

chore(release): release version
  packages/vitepress/src/client/theme/components/WBHeaderNav.vue
Due: eslint --quiet

chore(release): release version
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
Due: eslint --quiet

chore(release): release version
  docs/src/zh/guide/index.md
  docs/src/zh/index.md
  packages/playground/index.html
  packages/playground/src/Header.vue
Due: prettier --write, eslint --quiet, prettier

docs(sidebar): add fallback sidebar links for unspecial url
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/layout/Index.vue
  docs/.vitepress/theme/utils/dom.ts
  docs/src/packages/vitepress/guide.md
Due: prettier --write, eslint, eslint --quiet

chore(playground): reset latest version
  .github/renovate.json
  packages/playground/src/repl/constant.ts
Due: eslint

chore(playground): add playground action for code block
  docs/.vitepress/theme/components/blocks/CustomUsageBlock.vue
  docs/.vitepress/theme/components/blocks/DemoBlock.vue
  docs/.vitepress/theme/components/blocks/UsageBlock.vue
  packages/playground/src/Header.vue
  packages/playground/vite.config.ts
  packages/vitepress/src/client/utils/dom.ts
Due: eslint, eslint --quiet

chore(playground): add playground action for code block
  packages/playground/src/App.vue
  packages/playground/src/repl/constant.ts
Due: eslint, eslint --quiet

chore(playground): add playground action for code block
  docs/.vitepress/theme/layout/Index.vue
  docs/package.json
  docs/vite.config.ts
  eslint.config.js
Due: eslint, eslint --quiet

feat(vscode): add vscode extension for WhiteBlock
  .gitignore
  docs/.vitepress/config/constant.ts
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/layout/docs/DocumentFooter.vue
  docs/src/public/vscode/completions.png
  package.json
  packages/playground/src/repl/constant.ts
  packages/vscode/LICENSE
  packages/vscode/README.md
  packages/vscode/logo.png
  packages/vscode/package.json
  packages/vscode/scripts/config.ts
  packages/vscode/src/commands.ts
  packages/vscode/src/completions.ts
  packages/vscode/src/config.json
  packages/vscode/src/constant.ts
  packages/vscode/src/hover.ts
  packages/vscode/src/index.ts
  packages/vscode/tsconfig.json
  packages/vscode/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet

feat(vscode): add vscode extension for WhiteBlock
  .gitignore
Due: none

feat(vscode): add vscode extension for WhiteBlock
  .changeset/config.json
Due: none

chore(release): release version
  packages/core/package.json
  packages/playground/package.json
  packages/vitepress/package.json
  packages/vscode/package.json
Due: none

chore(docs): edit docs
  docs/src/index.md
Due: prettier --write

chore(vitepress): fixed docs details
  docs/.vitepress/config/transforms/data/index.ts
  docs/.vitepress/theme/pages/packages/Index.vue
  docs/src/index.md
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
Due: prettier --write, eslint, eslint --quiet

Path conditions:
  prettier --write: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  eslint --quiet: any of: *.vue
  prettier: any of: *.{less,css,html}
