Repository Kythuen/white-block: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --quiet, prettier

.lintstagedrc:

{
  "*.md": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint"],
  "*.vue": ["eslint --quiet"],
  "*.{less,css,html}": ["prettier"]
}

chore(vitepress): edit vitepress cli
  packages/vitepress/src/node/cli/command/init.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/constant.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/index.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/routes/en.ts
  packages/vitepress/src/node/cli/files/src/public/favicon.svg
  packages/vitepress/src/node/cli/files/src/public/logo.png
  packages/vitepress/src/node/cli/locales/text.ts
  packages/vitepress/src/node/cli/utils/index.ts
Due: eslint

chore(vitepress): edit vitepress page template
  docs/src/playground/index.md
  packages/vitepress/package.json
  packages/vitepress/src/client/theme/assets/font/HarmonyOS_Sans_Black.ttf
  packages/vitepress/src/client/theme/assets/font/HarmonyOS_Sans_Bold.ttf
  packages/vitepress/src/client/theme/components/StarsRing.vue
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBPage copy.vue
  packages/vitepress/src/client/theme/index.ts
  packages/vitepress/src/client/theme/styles/index.less
  packages/vitepress/src/node/cli/command/init.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/constant.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/index.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/locales/constant.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/locales/en.ts
  packages/vitepress/src/node/cli/files/.vitepress/config/routes/en.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/.vitepress/config/index.ts
  docs/.vitepress/theme/Layout.vue
  packages/core/src/utils/dom.ts
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/assets/bg-earth.webp
  packages/vitepress/src/client/theme/assets/font/SmileySans-Oblique.ttf.woff2
  packages/vitepress/src/client/theme/assets/preview.png
  packages/vitepress/src/client/theme/components/Card.vue
  packages/vitepress/src/client/theme/components/KongMing.vue
  packages/vitepress/src/client/theme/components/WBPage copy.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
  packages/vitepress/src/client/theme/styles/index.less
Due: eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/src/public/stars.js
  packages/vitepress/src/client/theme/components/KongMing.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
  packages/vitepress/src/client/theme/components/stars.ts
  packages/vitepress/src/client/theme/workers/stars.ts
Due: eslint, eslint --quiet

chore(vitepress): edit vitepress page template
  docs/.vitepress/config/constant.ts
  docs/.vitepress/config/index.ts
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/components/colors/Border.vue
  docs/.vitepress/theme/components/colors/Colors.vue
  docs/.vitepress/theme/components/colors/Layout.vue
  docs/.vitepress/theme/components/colors/Palette.vue
  docs/.vitepress/theme/components/colors/SeriesColor.vue
  docs/.vitepress/theme/components/colors/Status.vue
  docs/.vitepress/theme/components/colors/Text.vue
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/src/components.d.ts
  docs/src/guide/color.md
  docs/src/guide/colors.md
  docs/src/packages/types/changelog.md
  docs/src/packages/types/guide.md
  docs/src/packages/types/index.md
  docs/src/packages/types/qa.md
  docs/vite.config.ts
  packages/core/src/components/styles copy.css
  packages/vitepress/src/client/theme/components/KongMing.vue
  packages/vitepress/src/client/theme/components/stars.js
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/components/home/Home.vue
Due: eslint --quiet

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/components/home/WBHeaderMenu.vue
  packages/vitepress/src/client/theme/components/WBHeaderMenu.vue
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
Due: eslint --quiet

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/components/home/Home copy.vue
  docs/.vitepress/theme/components/home/Home.vue
Due: eslint --quiet

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/components/DocumentHeader.vue
  docs/.vitepress/theme/components/Placeholder.vue
  docs/.vitepress/theme/components/home/Card.vue
  docs/.vitepress/theme/components/home/Home.vue
  docs/.vitepress/theme/components/home/WBFooter.vue
  docs/.vitepress/theme/components/home/WBHeader.vue
  docs/src/components.d.ts
  docs/src/public/assets/tmp/footer.png
  packages/vitepress/src/client/theme/components/WBSidebarMenu.vue
Due: eslint, eslint --quiet

chore(vitepress): edit vitepress page template
  README.md
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/components/docs/DocumentContent.vue
  docs/.vitepress/theme/components/docs/DocumentHeader.vue
  docs/.vitepress/theme/components/docs/DocumentMobileDock.vue
  docs/.vitepress/theme/components/home/Home.vue
  docs/.vitepress/theme/components/home/WBAside.vue
  docs/.vitepress/theme/components/home/WBFooter.vue
  docs/.vitepress/theme/components/home/WBHeader.vue
  docs/.vitepress/theme/components/home/WBHeaderMenu.vue
  docs/.vitepress/theme/components/home/stars.js
  docs/.vitepress/theme/components/overview/ComponentOverview.vue
  docs/.vitepress/theme/components/tmp/Placeholder.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles/overrides.less
  docs/src/components.d.ts
  docs/src/guide/index.md
  packages/core/src/components/button/styles.css
  packages/core/src/components/styles.css
  packages/vitepress/src/client/theme/components/WBHeader.vue
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/components/home/Home.vue
  docs/src/public/mode.png
Due: eslint --quiet

chore(vitepress): edit vitepress page template
  README.md
  docs/src/components.d.ts
  packages/core/README.md
Due: prettier --write, eslint

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/components/home/WBFooter.vue
  docs/.vitepress/theme/components/home/WBHeader.vue
  docs/.vitepress/theme/components/home/WBHeaderMenu.vue
  packages/core/src/components/button/styles.css
  packages/core/src/components/styles.css
Due: eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/.vitepress/config/transforms/data/index.ts
  docs/.vitepress/theme/layouts/Layout.vue
  docs/.vitepress/theme/layouts/theme-editor/Color.vue
  docs/.vitepress/theme/layouts/theme-editor/Font.vue
  docs/.vitepress/theme/layouts/theme-editor/Index.vue
  docs/.vitepress/theme/layouts/theme-editor/Preset.vue
  docs/.vitepress/theme/layouts/theme-editor/Size.vue
  docs/.vitepress/theme/pages/colors/BorderColors.vue
  docs/.vitepress/theme/pages/colors/ColorGroup.vue
  docs/.vitepress/theme/pages/colors/Index.vue
  docs/.vitepress/theme/pages/colors/LayoutColors.vue
  docs/.vitepress/theme/pages/colors/PaletteColors.vue
  docs/.vitepress/theme/pages/colors/StatusColors.vue
  docs/.vitepress/theme/pages/colors/TextColors.vue
  docs/.vitepress/theme/pages/overview/Index.vue
  docs/package.json
  docs/src/guide/colors.md
  docs/src/guide/overview.md
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/Card.vue
  packages/vitepress/src/client/theme/components/KongMing.vue
  packages/vitepress/src/client/theme/components/StarsRing.vue
  packages/vitepress/src/client/theme/components/stars.js
  packages/vitepress/src/client/theme/components/stars.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress page template
  docs/.vitepress/theme/layouts/home/WBFooter.vue
  docs/.vitepress/theme/layouts/home/WBHeader.vue
  docs/.vitepress/theme/layouts/home/WBHeaderMenu.vue
  docs/src/components.d.ts
  packages/core/src/components/button/styles.css
  packages/core/src/components/styles copy.css
  packages/core/src/components/styles.css
Due: eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/.vitepress/config/transforms/data/index.ts
  docs/.vitepress/theme/components/awesome/BlurCard.vue
  docs/.vitepress/theme/layouts/Layout.vue
  docs/.vitepress/theme/layouts/docs/DocumentContent.vue
  docs/.vitepress/theme/layouts/docs/DocumentFooter.vue
  docs/.vitepress/theme/layouts/docs/DocumentMobileDock.vue
  docs/.vitepress/theme/layouts/home/Index.vue
  docs/.vitepress/theme/layouts/home/WBFooter.vue
  docs/.vitepress/theme/layouts/home/WBHeader.vue
  docs/.vitepress/theme/pages/colors/ColorGroup.vue
  docs/.vitepress/theme/pages/colors/Index.vue
  docs/.vitepress/theme/pages/colors/LayoutColors.vue
  docs/.vitepress/theme/pages/colors/StatusColors.vue
  docs/.vitepress/theme/pages/packages/Index.vue
  docs/.vitepress/theme/pages/packages/Net.vue
  docs/.vitepress/theme/styles/index.less
  docs/.vitepress/theme/styles/overrides.less
  docs/src/components.d.ts
  docs/src/packages/index.md
  docs/src/public/assets/img/packages/1f3a8.webp
  docs/src/public/assets/img/packages/1f9be.webp
  docs/src/public/assets/img/packages/typescript.png
  docs/src/public/assets/img/packages/unplugin.png
  docs/src/public/assets/img/packages/vitepress-logo-large.webp
  docs/src/public/assets/img/packages/vitepress.svg
  docs/vite.config.ts
  packages/core/src/components/button/styles.css
  packages/core/src/components/input/input.vue
  packages/core/src/components/input/styles.css
  packages/core/src/components/styles.css
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBHeaderMenu.vue
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress page template
  docs/src/public/assets/img/packages/1f3a8.webp
  docs/src/public/assets/img/packages/1f9be.webp
  docs/src/public/assets/img/packages/vitepress-logo-large.webp
Due: none

chore(vitepress): edit vitepress page template
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/config/transforms/data/changelogs.ts
  docs/.vitepress/config/transforms/data/index.ts
  docs/.vitepress/theme/components/awesome/BlurCard.vue
  docs/.vitepress/theme/components/blocks/ChangelogsBlock.vue
  docs/.vitepress/theme/layouts/Layout.vue
  docs/.vitepress/theme/pages/packages/Index.vue
  docs/.vitepress/theme/styles/index.less
  docs/package.json
  docs/src/components.d.ts
  docs/src/index.md
  docs/src/packages/vitepress/changelogs/2025-02-02-deepseek-r1.md
  docs/src/packages/vitepress/changelogs/2025-02-03-deepseek-r2.md
  docs/src/packages/vitepress/changelogs/index.md
  docs/src/packages/vitepress/cli.md
  docs/src/packages/vitepress/guide.md
  docs/src/packages/vitepress/index.md
  docs/src/packages/vitepress/layout.md
  docs/src/packages/vitepress/page.md
  docs/src/packages/vitepress/qa.md
  docs/src/packages/vitepress/slots.md
  docs/src/public/vitepress/components/document-aside.png
  docs/src/public/vitepress/components/document-header.png
  docs/src/public/vitepress/components/header.png
  docs/src/public/vitepress/components/sidebar.png
  docs/src/public/vitepress/slots/header-operation-before.png
  docs/src/public/vitepress/slots/header-operation-inside.png
  docs/src/public/vitepress/slots/header-top.png
  docs/src/public/vitepress/slots/home-content.png
  docs/src/public/vitepress/slots/home-top.png
  docs/src/vitepress/index.md
  docs/tsconfig.json
  packages/vitepress/src/client/theme/components/WBDocument.vue
  packages/vitepress/src/client/theme/components/WBDocumentAside.vue
  packages/vitepress/src/client/theme/components/WBDocumentAsideMenu.vue
  packages/vitepress/src/client/theme/components/WBSidebar.vue
  packages/vitepress/src/client/utils/dom.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/layouts/Layout.vue
  docs/.vitepress/theme/layouts/home/WBHeader.vue
  docs/.vitepress/theme/pages/packages/vitepress/ContentSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/HeaderSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/Layer.vue
  docs/.vitepress/theme/pages/packages/vitepress/SidebarSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/SimpleLayer.vue
  docs/.vitepress/theme/pages/packages/vitepress/Slots.vue
  docs/.vitepress/theme/styles/index.less
  docs/src/packages/vitepress/customize.md
  docs/src/packages/vitepress/guide.md
  docs/src/packages/vitepress/slots.md
  docs/src/public/assets/tmp/banner.png
  docs/src/public/vitepress/preview.png
  docs/src/public/vitepress/slots/header-top-banner.png
  docs/src/public/vitepress/slots/header-top.png
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
  packages/vitepress/src/client/theme/styles/vp.less
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet, prettier

chore(vitepress): edit vitepress docs
  docs/src/packages/vitepress/guide.md
  docs/src/public/vitepress/cli.png
  pnpm-lock.yaml
Due: prettier --write

chore(vitepress): edit vitepress docs
  docs/.vitepress/theme/layouts/docs/DocumentHeader.vue
  docs/src/packages/vitepress/default-layout.md
  docs/src/packages/vitepress/guide.md
  packages/core/src/components/styles.css
  packages/test2/.vitepress/config.mts
  packages/test2/api-examples.md
  packages/test2/index.md
  packages/test2/markdown-examples.md
  packages/test2/package.json
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/assets/img/hero.webp
  packages/vitepress/src/client/theme/components/WBDocumentHeader.vue
  packages/vitepress/src/client/theme/components/WBHome1.vue
Due: prettier --write, eslint --quiet, prettier

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/layouts/docs/DocumentHeader.vue
  docs/src/packages/vitepress/cli.md
  docs/src/packages/vitepress/components.md
  docs/src/packages/vitepress/customize.md
  docs/src/packages/vitepress/default-layout.md
  docs/src/packages/vitepress/guide.md
  docs/src/packages/vitepress/layout.md
  docs/src/packages/vitepress/layouts.md
  docs/src/public/vitepress/cli.gif
  docs/src/public/vitepress/cli.png
  docs/src/public/vitepress/components/document-aside.png
  docs/src/public/vitepress/components/document-header.png
  docs/src/public/vitepress/components/header.png
  docs/src/public/vitepress/components/sidebar.png
  docs/src/public/vitepress/layout_empty.png
  docs/src/public/vitepress/layout_page.png
  docs/src/public/vitepress/layouts/docs.png
  docs/src/public/vitepress/layouts/empty.png
  docs/src/public/vitepress/layouts/home.png
  docs/src/public/vitepress/logo.svg
  docs/src/public/vitepress/slots/header-operation-before.png
  docs/src/public/vitepress/slots/header-operation-inside.png
  docs/src/public/vitepress/slots/header-top.png
  docs/src/public/vitepress/slots/home-content.png
  docs/src/public/vitepress/slots/home-top.png
  docs/src/public/vitepress/slots/overview.png
  docs/vite.config.ts.timestamp-1739332011346-d3730f97c3506.mjs
  packages/test2/.vitepress/config.mts
  packages/test2/api-examples.md
  packages/test2/index.md
  packages/test2/markdown-examples.md
  packages/test2/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/routes/en.ts
  docs/.vitepress/theme/pages/packages/vitepress/ContentSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/HeaderSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/HomeHeaderSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/SidebarSlot.vue
  docs/.vitepress/theme/pages/packages/vitepress/Slots.vue
  docs/src/packages/vitepress/components.md
  docs/src/packages/vitepress/customize.md
  docs/src/packages/vitepress/layouts.md
  docs/src/packages/vitepress/slots.md
  docs/src/public/vitepress/components/wb-home.png
  docs/src/public/vitepress/customize/tab-effect.png
  docs/vite.config.ts.timestamp-1739332011346-d3730f97c3506.mjs
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/WBDocumentAside.vue
  packages/vitepress/src/client/theme/components/WBDocumentHeader.vue
  packages/vitepress/src/client/theme/components/WBHeader.vue
  packages/vitepress/src/client/theme/components/WBHeaderNav.vue
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/theme/components/awesome/NeonButton.vue
  docs/src/components.d.ts
  docs/src/packages/vitepress/components.md
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/client/theme/components/WBHome1.vue
  packages/vitepress/src/client/theme/components/WBPage copy.vue
  packages/vitepress/src/client/theme/components/WBPage.vue
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/config/index.ts
  docs/.vitepress/theme/components/awesome/NeonButton.vue
  docs/.vitepress/theme/layouts/Layout.vue
  docs/src/index.md
  docs/src/packages/vitepress/components.md
  docs/src/packages/vitepress/slots.md
  eslint.config.js
  packages/vitepress/src/client/theme/Layout.vue
  packages/vitepress/src/client/theme/components/WBFooter.vue
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/client/theme/index.ts
Due: prettier --write, eslint, eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/theme/layouts/Layout.vue
  packages/vitepress/src/client/theme/Layout.vue
Due: eslint --quiet

chore(vitepress): edit vitepress docs
  docs/.vitepress/theme/layouts/Layout.vue
  docs/src/packages/vitepress/components.md
  docs/src/public/assets/img/home/color-palette-dark.svg
  docs/src/public/assets/img/home/color-palette-light.svg
  docs/src/public/assets/img/home/dark-mode-dark.svg
  docs/src/public/assets/img/home/dark-mode-light.svg
  docs/src/public/assets/img/home/fully-customizable-dark.svg
  docs/src/public/assets/img/home/fully-customizable-light.svg
  docs/src/public/assets/img/home/hexagon-grid.svg
  docs/src/public/assets/img/home/icon-library-dark.svg
  docs/src/public/assets/img/home/icon-library-light.svg
  docs/src/public/assets/img/home/keyboard-shortcuts-dark.svg
  docs/src/public/assets/img/home/keyboard-shortcuts-light.svg
  docs/src/public/vitepress/components/wb-document.png
  docs/src/public/vitepress/components/wb-footer.png
  docs/src/public/vitepress/components/wb-header.png
  docs/src/public/vitepress/components/wb-home.png
  docs/src/public/vitepress/components/wb-sidebar.png
  docs/src/public/vitepress/layouts/home.png
Due: prettier --write, eslint --quiet

chore(vitepress): edit vitepress docs
  docs/package.json
  packages/core/tsconfig.json
  packages/vitepress/scripts/watch.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

chore(vitepress): edit vitepress docs
  packages/core/src/components/button-group/__tests__/__snapshots__/button-group.test.tsx.snap
  packages/core/src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/core/src/components/button/__tests__/button.test.tsx
  packages/core/src/components/color-picker/__tests__/__snapshots__/index.test.tsx.snap
  packages/core/src/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/core/src/components/select/__tests__/__snapshots__/index.test.tsx.snap
Due: eslint

chore(vitepress): edit vitepress docs
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  packages/core/src/components/button/examples/type1.tsx
  packages/core/src/components/input/api.ts
  packages/core/src/components/input/input.vue
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --quiet

feat(vitepress): edit vitepress package
  packages/core/src/components/input/api.ts
  packages/core/src/components/input/input.vue
Due: eslint, eslint --quiet

chore(release): release version
  .changeset/few-ducks-destroy.md
  .changeset/pre.json
  .changeset/serious-swans-hug.md
  .changeset/silly-poets-sniff.md
  .changeset/stale-bottles-fry.md
  packages/core/package.json
  packages/vitepress/package.json
Due: prettier --write

fix(vitepress): fixed vitepress detail
  docs/.vitepress/theme/index.ts
  docs/src/packages/vitepress/customize.md
  docs/src/packages/vitepress/deploy.md
  docs/src/packages/vitepress/qa.md
  packages/core/src/components/button/styles.css
  packages/core/src/components/colors.css
  packages/core/src/components/size.css
  packages/core/src/components/styles.css
  packages/vitepress/package.json
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/client/theme/index.ts
  packages/vitepress/src/client/theme/styles/vp.less
  packages/vitepress/src/node/cli/command/init.ts
  packages/vitepress/src/node/cli/files/.gitignore
  packages/vitepress/src/node/cli/files/.vitepress/config/locales/constant.ts
Due: prettier --write, eslint, eslint --quiet, prettier

chore(release): release version
  packages/core/package.json
  packages/vitepress/package.json
Due: none

feat(vitepress): edit vitepress package
  docs/src/packages/vitepress/customize.md
  eslint.config.js
  packages/vitepress/files/.gitignore
  packages/vitepress/files/.vitepress/config/index.ts
  packages/vitepress/files/.vitepress/config/locales/constant.ts
  packages/vitepress/files/.vitepress/config/locales/en.ts
  packages/vitepress/files/.vitepress/theme/index.ts
  packages/vitepress/files/src/guide.md
  packages/vitepress/files/src/index.md
  packages/vitepress/files/src/public/favicon.svg
  packages/vitepress/files/src/public/logo.svg
  packages/vitepress/files/tsconfig.json
  packages/vitepress/files/unocss.config.ts
  packages/vitepress/files/vite.config.ts
  packages/vitepress/package.json
  packages/vitepress/src/client/theme/components/WBHome.vue
  packages/vitepress/src/node/cli/command/init.ts
  packages/vitepress/src/node/cli/files/src/index.md
Due: prettier --write, eslint, eslint --quiet

chore(release): release version
  packages/vitepress/package.json
Due: none
